In [4]:
import pandas as pd
from sqlalchemy import create_engine

#(a)
lap_times = pd.read_csv("data_raw/lap_times.csv")
display(lap_times)
connection = create_engine('postgresql://postgres:12345@localhost:5432/formula1')
lap_times.to_sql("lap_times",con=connection,if_exists='replace', index=False)

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
538116    1096       822   53        16  1:32.998         92998
538117    1096       822   54        16  1:32.995         92995
538118    1096       822   55        16  1:31.236         91236
538119    1096       822   56        15  1:30.566         90566
538120    1096       822   57        15  1:30.743         90743

[538121 rows x 6 columns]

121

In [5]:
#(b)
drivers = pd.read_csv("data_raw/drivers.csv")
drivers.to_sql("drivers",con=connection,if_exists='replace', index=False)

857